# excludes from the docker image/build

# 1. Ignore everything (ensures don't upload .git, .env etc)
**
.rr.yml
rr

# 2. Allow files and directories
!app/**
!bootstrap/**
!config/**
!database/**
!docker/**
!lang/**
!public/**
!resources/**
!routes/**
!storage/app/**
!storage/framework/cache/**
!storage/framework/sessions/**
!storage/framework/views/**
!artisan
!composer.json
!composer.lock
!package.json
!package-lock.json
!webpack.mix.js

# 3. Ignore unnecessary files that may be inside those allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db