# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/golangci/golangci-lint
    rev: v1.47.3
    hooks:
    -   id: golangci-lint
        # pre-commit github action runs as "manual" hook
        # because golangci-lint's action is more useful than
        # the pre-commit hook in that case
        stages: [commit]
