name: Automatically release a new version of flyctl

on:
  schedule:
    - cron: '0 20 * * MON-THU'  # Runs at 3 PM Eastern Standard Time Monday Through Thursday (8 PM UTC)

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v4
        with:
          fetch-tags: true
      - name: bump version
        run: |
          ./scripts/force_bump_version.sh
