name: Build
on:
  schedule:
    - cron: '21 */2 * * *'
  push:
  pull_request:

# We right now cannot use Go 1.20.6 due to
# https://community.fly.io/t/git-hub-actions-deployment-error/14126
env:
  go_version: 1.20.5

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go_version }}
      - name: "Place wintun.dll"
        run: cp deps/wintun/bin/amd64/wintun.dll ./
      - name: build
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: build --clean --snapshot
      - name: Upload flyctl for preflight
        uses: actions/upload-artifact@v3
        with:
          name: flyctl
          path: dist/default_linux_amd64_v1/flyctl

  preflight:
    needs: test_build
    uses: ./.github/workflows/preflight.yml
    secrets: inherit
