name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files --hook-stage=manual
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.47.3
      - run: go mod download
