name: Preflight Tests

on:
  workflow_dispatch:
    inputs:
      region:
        description: Region
        required: false
        default: ord
        type: string
  workflow_call:

jobs:
  preflight-tests:
    if: ${{ github.repository == 'superfly/flyctl' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        parallelism: [20]
        index:
          [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: Get go version
        id: go-version
        run: echo "name=version::$(go env GOVERSION)" >> $GITHUB_OUTPUT
      - name: Set FLY_PREFLIGHT_TEST_APP_PREFIX
        run: |
          echo "FLY_PREFLIGHT_TEST_APP_PREFIX=gha-$GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT" >> "$GITHUB_ENV"
      - name: Generate go test slice
        id: test_split
        uses: hashicorp-forge/go-test-split-action@v1
        with:
          total: ${{ matrix.parallelism }}
          index: ${{ matrix.index }}
          packages: ./test/preflight/...
          flags: --tags=integration
      # If this workflow is triggered by code changes (eg PRs), download the binary to save time.
      - uses: actions/download-artifact@v7
        id: download-flyctl
        with:
          name: flyctl
          path: master-build
        continue-on-error: true
      # But if this is a manual run, build the binary first.
      - run: make
        if: steps.download-flyctl.outcome == 'failure'
      - name: Run preflight tests
        id: preflight
        env:
          FLY_PREFLIGHT_TEST_ACCESS_TOKEN: ${{ secrets.FLYCTL_PREFLIGHT_CI_FLY_API_TOKEN }}
          FLY_PREFLIGHT_TEST_FLY_ORG: flyctl-ci-preflight
          FLY_PREFLIGHT_TEST_FLY_REGIONS: ${{ inputs.region }}
          FLY_PREFLIGHT_TEST_NO_PRINT_HISTORY_ON_FAIL: 'true'
          FLY_FORCE_TRACE: 'true'
        run: |
          mkdir -p bin
          if [ -e master-build/flyctl ]; then
            mv master-build/flyctl bin/flyctl
          fi
          if [ -e bin/flyctl ]; then
            chmod +x bin/flyctl
          fi
          export PATH=$PWD/bin:$PATH
          test_opts=""
          if [[ "${{ github.ref }}" != "refs/heads/master" ]]; then
            test_opts="-short"
          fi
          test_log="$(mktemp)"
          function finish {
            rm "$test_log"
          }
          trap finish EXIT
          set +e
          go test ./test/preflight/... --tags=integration -v -timeout=15m $test_opts -run "${{ steps.test_split.outputs.run }}" | tee "$test_log"
          test_status=$?
          set -e
          echo -n failed= >> $GITHUB_OUTPUT
          awk '/^--- FAIL:/{ printf("%s ", $3) }' "$test_log" >> $GITHUB_OUTPUT
          echo >> $GITHUB_OUTPUT
          exit $test_status
      - name: Post failure to slack
        if: ${{ github.ref == 'refs/heads/master' && failure() }}
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a
        with:
          webhook: ${{ secrets.PREFLIGHT_SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":sob: preflight tests failed: ${{ steps.preflight.outputs.failed }} ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
      - uses: superfly/flyctl-actions/setup-flyctl@master
        if: always()
      - name: Clean up any un-deleted preflight apps
        if: always()
        env:
          FLY_API_TOKEN: ${{ secrets.FLYCTL_PREFLIGHT_CI_FLY_API_TOKEN }}
          FLY_PREFLIGHT_TEST_FLY_ORG: flyctl-ci-preflight
        run: |
          ./scripts/delete_preflight_apps.sh "$FLY_PREFLIGHT_TEST_APP_PREFIX"
